<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="innovationcare.app.antibioticguidelines"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="innovationcare.app.antibioticguidelines.ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="innovationcare.app.antibioticguidelines.ui.ContactUsActivity"
            android:label="@string/app_name"
            android:parentActivityName="innovationcare.app.antibioticguidelines.ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="innovationcare.app.antibioticguidelines.ui.MainActivity" />
        </activity>
        <activity
            android:name="innovationcare.app.antibioticguidelines.ui.InfectionCategoryListActivity"
            android:label="@string/app_name"
            android:parentActivityName="innovationcare.app.antibioticguidelines.ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="innovationcare.app.antibioticguidelines.ui.MainActivity" />
        </activity>
        <activity
            android:name="innovationcare.app.antibioticguidelines.ui.InfectionListActivity"
            android:label="@string/app_name"
            android:parentActivityName="innovationcare.app.antibioticguidelines.ui.InfectionCategoryListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="innovationcare.app.antibioticguidelines.ui.InfectionCategoryListActivity" />
        </activity>
        <activity
            android:name="innovationcare.app.antibioticguidelines.ui.InteractionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_interaction"
            android:parentActivityName="innovationcare.app.antibioticguidelines.ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="innovationcare.app.antibioticguidelines.ui.MainActivity" />
        </activity>
        <activity
            android:name="innovationcare.app.antibioticguidelines.ui.InfectionActivity"
            android:label="@string/app_name"
            android:parentActivityName="innovationcare.app.antibioticguidelines.ui.InfectionListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="innovationcare.app.antibioticguidelines.ui.InfectionListActivity" />
        </activity>
        <activity
            android:name="innovationcare.app.antibioticguidelines.ui.AntibioticListActivity"
            android:label="@string/title_activity_antibiotic_list"
            android:parentActivityName="innovationcare.app.antibioticguidelines.ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="innovationcare.app.antibioticguidelines.ui.MainActivity" />
        </activity>
        <activity
            android:name="innovationcare.app.antibioticguidelines.ui.DisplayAntibioticLinkActivity"
            android:label="@string/title_activity_display_antibiotic_link"
            android:parentActivityName="innovationcare.app.antibioticguidelines.ui.AntibioticListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="innovationcare.app.antibioticguidelines.ui.AntibioticListActivity" />
        </activity>
        <activity
            android:name="innovationcare.app.antibioticguidelines.ui.DisplayAntibioticActivity"
            android:label="@string/title_activity_display_antibiotic" 
            android:parentActivityName="innovationcare.app.antibioticguidelines.ui.AntibioticListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="innovationcare.app.antibioticguidelines.ui.AntibioticListActivity" />
        </activity>
    </application>

</manifest>
