<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="innovationcare.app.antibioticguidelines"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="innovationcare.app.antibioticguidelines.ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="innovationcare.app.antibioticguidelines.ui.ContactUsActivity"
            android:label="@string/app_name"
            android:parentActivityName="innovationcare.app.antibioticguidelines.ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="innovationcare.app.antibioticguidelines.ui.MainActivity" />
        </activity>
        
        <activity
            android:name="innovationcare.app.antibioticguidelines.ui.InfectionCategoryListActivity"
            android:label="@string/app_name"
            android:parentActivityName="innovationcare.app.antibioticguidelines.ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="innovationcare.app.antibioticguidelines.ui.MainActivity" />
        </activity>
        
        <activity
            android:name="innovationcare.app.antibioticguidelines.ui.InfectionListActivity"
            android:label="@string/app_name"
            android:parentActivityName="innovationcare.app.antibioticguidelines.ui.InfectionCategoryListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="innovationcare.app.antibioticguidelines.ui.InfectionCategoryListActivity" />
        </activity>
    </application>

</manifest>
